body {
    font-size: 1.5rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    overflow: hidden;
    background: #1f2630;
    color: #7fafdf;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    align-items: center;
}

#main-header h1 {
    margin-left: 30px;
    font-size: 2.5rem;
    line-height: 1.35;
}

#info {
    margin-right: 0;
}

#main-header h3 {
    margin-right: 20px;
    font-size: 1.5rem;
    text-align: right;
    line-height: 1.35;
}

#main-header h4 {
    text-align: right;
    margin-right: 20px;
    font-size: 1rem;
    line-height: 1.35;
}

#main-row {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    alignment: bottom;
}

#my_map {
    margin: 20px 0 0 0;
    vertical-align: center;
    height: 70vh;
    width: 100%;
    border: 1px solid #2cfec1;
}

#prediction-graph {
    margin-top: 20px;
    height: 70vh;
    width: calc(50vw - 15px);
    border: 1px solid #2cfec1;
}

#topleft-row {
    background-color: #252e3f;
    padding: 8px 0 8px 0;
}

#topright-row {
    padding: 7px 0 7px 7px;
    background-color: #252e3f;
}

#demo_h2 {
    margin: 0;
}

.Select-value-label {
    color: #7fafdf !important;
}

.Select-input > input {
    color: #2cfec1;
}

.Select-menu-outer {
    background-color: #1f2630;
}

.Select-control {
    border: 1px solid #2cfec1;
}

#modal-button {
    float: right;
    background-color: transparent;
    margin-right: 15px;
    border-radius: 20px;
    color: #7fafdf;
    border: 1px solid #252e3f;
}

#modal-button:hover {
    border: 1px solid #2cfec1;
}

.modal-open {
    padding-right: 0 !important;
}

.modal-content {
    background-color: #252e3f;
}

.modal-footer {
    padding: 0;
}

#close {
    background-color: #1f2630;
    color: mediumaquamarine;
}

#left-column {
    margin-right: 10px;
}

.modebar {
    display: none !important;
}