body {
    font-size: 1.5rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    margin: 10px;
    overflow: hidden;
    background: #1f2630;
    color: #7fafdf;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    align-items: center;
}

#main-header h1 {
    margin-left: 20px;
    font-size: 2.5rem;
    line-height: 1.35;
}

#info {
    margin-right: 0;
}

#main-header h3 {
    margin-right: 20px;
    font-size: 1.5rem;
    text-align: right;
    line-height: 1.35;
}

#main-header h4 {
    text-align: right;
    margin-right: 20px;
    font-size: 1rem;
    line-height: 1.35;
}

#main-row {
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
    alignment: bottom;
}

#my_map {
    margin: 20px 0 0 0;
    vertical-align: center;
    height: 70vh;
    width: 100%;
    border: 1px solid #2cfec1;
}

#topleft-row {
    background-color: #252e3f;
    padding: 8px 0 8px 0;
}

.Select-value-label {
    color: #7fafdf !important;
}

.Select-input > input {
    color: #2cfec1;
}

.Select-menu-outer {
    background-color: #1f2630;
}

.Select-control {
    border: 1px solid #2cfec1;
}

#left-column {
    margin-right: 10px;
    width: 50%;
}

#right-column {
    margin-left: 10px;
    justify-content: space-between;
    background: #252e3f;
}

.modebar {
    display: none !important;
}